services:
  app:
    build:
      context: app
      dockerfile: Dockerfile
    user: app
    env_file:
      - .env
    ports:
      - "127.0.0.1:5000:5000"
    stop_signal: SIGINT
    restart: always
    command: ["gunicorn", "-w", "4", "-b", "0.0.0.0:5000", "api:app"]

